*{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.graficos {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    align-items: center;
}

.graficos .container #myChart {
    width: 800px;
    margin-bottom: 80px;
}

.graficos .container #myChart2 {
    width: 800px;
}